*{
    font-family: Futura, Arial, sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
h2{

}
hr{
    border-width: 10px !important;
}
.jumbotron {
    background-color: #4286f4;
}
.clickable {
    cursor: pointer;
}
.row{
    margin: 3px; /* to prevent tiny horiz scrollbar when between col-lg and col-md */
}
.genji, .mccree, .pharah, .reaper, .soldier76, .sombra, .tracer, .bastion, .hanzo, .junkrat, .mei, .torb, .widow, .dva, .orisa, .rein, .roadhog, .winston, .zarya, .ana, .lucio, .mercy, .symmetra, .zen{
    padding: 15px;
    font-weight: bold;
    font-size: large;
}