<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>

<body ng-controller="overwatchController">
<jumbotron-directive></jumbotron-directive>
<!--<div class="jumbotron text-center">-->
    <!--<h1>Overwatch Planner</h1>-->
    <!--<p>Use this page to plan your team composition and hero counters for your next game!</p>-->
<!--</div>-->
<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Hero Counters</h2>
    </div>
</div>

<!-- COUNTERS -->
<div class="row">
    <div class="col-md-2 text-center clickable genji img-rounded" ng-click="displayCounters('genji')">Genji<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/genji/hero-select-portrait.png" class="img-rounded"></div>
    <div class="col-md-2 text-center clickable mccree img-rounded" ng-click="displayCounters('mccree')">McCree<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/mccree/hero-select-portrait.png" class="img-rounded" ></div>
    <div class="col-md-2 text-center clickable pharah" ng-click="displayCounters('pharah')">Pharah<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/pharah/hero-select-portrait.png" class="img-rounded" ></div>
    <div class="col-md-2 text-center clickable reaper" ng-click="displayCounters('reaper')">Reaper<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/reaper/hero-select-portrait.png" class="img-rounded" ></div>
    <div class="col-md-2 text-center clickable soldier76" ng-click="displayCounters('soldier76')">Soldier 76<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/soldier-76/hero-select-portrait.png" class="img-rounded"></div>
    <div class="col-md-2 text-center clickable sombra" ng-click="displayCounters('sombra')">Sombra<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/sombra/hero-select-portrait.png" class="img-rounded"></div>
</div>
<div class="row">
    <div class="col-md-2 text-center clickable tracer" ng-click="displayCounters('tracer')">Tracer<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/tracer/hero-select-portrait.png" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable bastion" ng-click="displayCounters('bastion')">Bastion<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/bastion/hero-select-portrait.png" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable hanzo" ng-click="displayCounters('hanzo')">Hanzo<p></p><img src="https://blzgdapipro-a.akamaihd.net/hero/hanzo/hero-select-portrait.png" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable junkrat" ng-click="displayCounters('junkrat')">Junkrat<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/9/99/20160620014452%21Junkrat-Portrait.png?version=72de0fcaac63f25dbd5c76f620304752" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable mei" ng-click="displayCounters('mei')">Mei<p></p>
        <img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/d/d0/20160620013459%21Mei-portrait.png?version=40ac735a54eb450693a00c7371d58672" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable torb" ng-click="displayCounters('torb')">Torbjorn<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/c/c5/20160620015202%21Torbjorn-portrait.png?version=dbf02122a71df682a34c21c8c4716f5c" class="img-rounded" width="200" height="200"></div>
</div>
<div class="row">
    <div class="col-md-2 text-center clickable widow" ng-click="displayCounters('widow')">Widowmaker<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/4/4c/20160620015303%21Widowmaker-portrait.png?version=66e0368bb426fb465c1d02029fbf4960" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable dva" ng-click="displayCounters('dva')">D.Va<p></p><img src="http://cdn.playbuzz.com/cdn/512a2f01-9569-48ff-9ec6-4aad5ff41208/31b507fd-8553-4be3-8b59-a6089baa0bb7.png" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable rein" ng-click="displayCounters('rein')">Reinhardt<p></p><img src="https://d1u1mce87gyfbn.cloudfront.net/hero/reinhardt/full-portrait.png" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable roadhog" ng-click="displayCounters('roadhog')">Roadhog<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/c/ce/20160620014751%21Roadhog-Portrait.png?version=56612863cbf63e810dc99014aaec6013" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable winston" ng-click="displayCounters('winston')">Winston<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/b/b8/20160620015550%21Winston-portrait.png?version=4ffdf3f8a2f43e2709aac6505cbb9bee" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable zarya" ng-click="displayCounters('zarya')">Zarya<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/6/6d/20160620015838%21Zarya-portrait.png?version=2475bc322d380fe25db63e2aa4e09d17" class="img-rounded" width="200" height="200"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-center clickable ana" ng-click="displayCounters('ana')">Ana<p></p><img src="http://vignette3.wikia.nocookie.net/overwatch/images/f/fd/Ana_portrait.png/revision/latest?cb=20160727054536" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable lucio" ng-click="displayCounters('lucio')">Lucio<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/8/8c/20160620004208%21Lucio-portrait.png?version=b79312103e4703e2834180b41681e4da" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable mercy" ng-click="displayCounters('mercy')">Mercy<p></p><img src="https://vignette3.wikia.nocookie.net/overwatch/images/4/44/Mercy_Spray_-_Battle_Ready.png/revision/latest?cb=20160610183251" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable symmetra" ng-click="displayCounters('symmetra')">Symmetra<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/1/18/20160620015055%21Symmetra-portrait.png?version=2b00bb528994aca441529f4611726845g" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-2 text-center clickable zen" ng-click="displayCounters('zen')">Zenyatta<p></p><img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/archive/9/92/20160620015930%21Zenyatta-portrait.png?version=0284f100b532b06f60900e1cc81f6ad5" class="img-rounded" width="200" height="200"></div>
    <div class="col-md-1"></div>
</div>
<br>

<!-- TEAM COMP -->
<div class="row">
    <div class="lg-col-12 text-center">
        <h2>Team Composition</h2>
    </div>
</div>

<!-- ENEMY TEAM -->
<div class="row">
    <div class="lg-col-12">
        <h3 class="text-center" style="padding:25px;color:red">Enemy Team</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 text-center">
        <div class="form-group enemyTeam">
            <form name="heroForm">
                <select class="form-control enemyTeam"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroEnemy1"
                        ng-change="heroSelected(selectedHeroEnemy1, 'enemy')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group enemyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroEnemy2"
                        ng-change="heroSelected(selectedHeroEnemy2, 'enemy')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group enemyTeam">
                <form name="heroForm">
                    <select class="form-control"
                            ng-options="option for option in allHeroes"
                            ng-model="selectedHeroEnemy3"
                            ng-change="heroSelected(selectedHeroEnemy3, 'enemy')">
                    </select>
                </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group enemyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroEnemy4"
                        ng-change="heroSelected(selectedHeroEnemy4, 'enemy')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group enemyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroEnemy5"
                        ng-change="heroSelected(selectedHeroEnemy5, 'enemy')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group enemyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroEnemy6"
                        ng-change="heroSelected(selectedHeroEnemy6, 'enemy')">
                </select>
            </form>
        </div>
    </div>
</div>
<!-- ENEMY ALERTS -->
<div class="row">
    <div class="col-lg-2"></div>
    <div class="enemyAlerts col-lg-8">
        <div class="alert alert-success" id="lowDPSEnemy" ng-show="enemy_dps < 2 && selectionMadeEnemy == true"> <strong>Sweet!</strong> Enemy team has low damage.</div>
        <div class="alert alert-success" id="lowSupportEnemy" ng-show="enemy_support < 1 && selectionMadeEnemy == true"><strong>Sweet!</strong> Enemy team has low support heroes.</div>
        <div class="alert alert-success" id="lowTanksEnemy" ng-show="enemy_tanks < 1 && selectionMadeEnemy == true"><strong>Sweet!</strong> Enemy team has few tanks.</div>
        <div class="alert alert-success" id="lowSustainEnemy" ng-show="enemy_sustain < 2 && selectionMadeEnemy == true"><strong>Sweet!</strong> Enemy team has low sustainability. Punish their foolishness.</div>
        <div class="alert alert-info" id="lowHitscanEnemy" ng-show="enemy_hitscan < 1 && selectionMadeEnemy == true"><strong>Heads Up!</strong> Enemy team has few hitscan heroes.</div>
        <div class="alert alert-info" id="lowProjectileEnemy" ng-show="enemy_projectiles < 1 && selectionMadeEnemy == true"><strong>Heads Up!</strong> Enemy team has few projectile heroes.</div>
        <div class="alert alert-info" id="lowBlockEnemy" ng-show="enemy_block < 2 && selectionMadeEnemy == true"><strong>Heads Up!</strong> Enemy team has low blocking potential.</div>
        <div class="alert alert-info" id="highBuildEnemy" ng-show="enemy_builder > 1 && selectionMadeEnemy == true"><strong>Heads Up!</strong> Enemy team has too many builders.</div>
        <div class="alert alert-info" id="lowMobilityEnemy" ng-show="enemy_mobility < 2 && selectionMadeEnemy == true"><strong>Heads Up!</strong> Enemy team has low mobility.</div>
        <div class="alert alert-info" id="highTanksEnemy" ng-show="enemy_tanks > 3 && selectionMadeEnemy == true"><strong>Heads Up!</strong> Enemy team has 4 or more tanks.</div>
    </div>
    <div class="col-lg-2"></div>
</div>

<!-- ALLY TEAM -->
<div class="row">
    <div class="lg-col-12">
        <h3 class="text-center" style="padding:25px;color:blue">Ally Team</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 text-center">
        <div class="form-group allyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroAlly1"
                        ng-change="heroSelected(selectedHeroAlly1, 'ally')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group allyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroAlly2"
                        ng-change="heroSelected(selectedHeroAlly2, 'ally')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group allyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroAlly3"
                        ng-change="heroSelected(selectedHeroAlly3, 'ally')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group allyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroAlly4"
                        ng-change="heroSelected(selectedHeroAlly4, 'ally')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group allyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroAlly5"
                        ng-change="heroSelected(selectedHeroAlly5, 'ally')">
                </select>
            </form>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="form-group allyTeam">
            <form name="heroForm">
                <select class="form-control"
                        ng-options="option for option in allHeroes"
                        ng-model="selectedHeroAlly6"
                        ng-change="heroSelected(selectedHeroAlly6, 'ally')">
                </select>
            </form>
        </div>
    </div>
</div>

<!-- ALLY ALERTS -->
<div class="row">
    <div class="col-lg-2"></div>
    <div class="allyAlerts col-lg-8">
        <div class="alert alert-danger" id="lowDPS" ng-show="ally_dps < 2 && selectionMadeAlly == true"> <strong>Danger!</strong> Not enough damage.</div>
        <div class="alert alert-danger" id="lowSupport" ng-show="ally_support < 1 && selectionMadeAlly == true"><strong>Danger!</strong> Not enough support heroes. </div>
        <div class="alert alert-danger" id="lowTanks" ng-show="ally_tanks < 1 && selectionMadeAlly == true"><strong>Danger!</strong> Not enough tanks.</div>
        <div class="alert alert-danger" id="lowSustain" ng-show="ally_sustain < 2 && selectionMadeAlly == true"><strong>Danger!</strong> Low sustainability. Consider heroes who can heal or provide health.</div>
        <div class="alert alert-warning" id="lowHitscan" ng-show="ally_hitscan < 1 && selectionMadeAlly == true"><strong>Warning!</strong> Few hitscan heroes - at least one hitscan is recommended.</div>
        <div class="alert alert-warning" id="lowProjectile" ng-show="ally_projectiles < 1 && selectionMadeAlly == true"><strong>Warning!</strong> Few projectile heroes - at least one projectile is recommended.</div>
        <div class="alert alert-warning" id="lowBlock" ng-show="ally_block < 2 && selectionMadeAlly == true"><strong>Warning!</strong> Not enough blocking potential.</div>
        <div class="alert alert-warning" id="highBuild" ng-show="ally_builder > 1 && selectionMadeAlly == true"><strong>Warning!</strong> Too many builders.</div>
        <div class="alert alert-warning" id="lowMobility" ng-show="ally_mobility < 2 && selectionMadeAlly == true"><strong>Warning!</strong> Low team mobility.</div>
        <div class="alert alert-warning" id="highTanks" ng-show="ally_tanks > 3 && selectionMadeAlly == true"><strong>Warning!</strong> 4 or more tanks is not recommended.</div>
    </div>
    <div class="col-lg-2"></div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="overwatchController.js"></script>
</body>
</html>