.jumbotron {
    background-color: #b3b3ff;
}
.clickable {
    cursor: pointer;
}
img {
    display: table-cell;
    max-width: 100%;
    /*height: auto;*/
}
.genji, .mccree, .pharah, .reaper, .soldier76, .sombra, .tracer, .bastion, .hanzo, .junkrat, .mei, .torb, .widow, .dva, .rein, .roadhog, .winston, .zarya, .ana, .lucio, .mercy, .symmetra, .zen{
    padding: 15px;
}