*{
    font-family: Futura, Arial, sans-serif;
}
body {
    background-color: lightgrey;
}
img{
    max-width: 50%;
    height: auto;
}
hr{
    border: 3px solid #4286f4 !important;
}
.jumbotron {
    background-color: #4286f4;
    /*background-color: grey;*/
    text-shadow: black 0.1em 0.1em 0.1em;
}
.row{
    margin: 3px; /* to prevent tiny horiz scrollbar when between col-lg and col-md */
}
.enemyTeam, .allyTeam{
    border-style: ridge;
}
.alert{
    text-align: center;
}
.clickable {
    cursor: pointer;
}
.genji, .mccree, .pharah, .reaper, .soldier76, .sombra, .tracer, .bastion, .hanzo, .junkrat, .mei, .torb, .widow, .dva, .orisa, .rein, .roadhog, .winston, .zarya, .ana, .lucio, .mercy, .symmetra, .zen{
    padding: 15px;
    font-weight: bold;
    font-size: large;
}